<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daelim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReidloKang">
        <activity
            android:name=".main.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".main.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".research.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".research.ResearchActivity"
            android:exported="false" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.InitActivity"
            android:exported="false" />
        <activity
            android:name=".main.NextActivity"
            android:exported="false" />
        <activity
            android:name=".calculate.CalActivity"
            android:exported="false" />
    </application>

</manifest>